
.content{
  margin-left: auto;
  margin-right: auto;
}
.navbar-brand{
  color: white;
  text-align: center;
  margin-left: 0px;
  
}
.btn-outline-light{

  border-radius: 30px;
  padding: 12px 15px 11px;
  line-height: 11px;
  transition: opacity .2s linear 0s;
}

.btn-crea{
  margin-left: 16px;
}

.bg-primary{
  margin-top: 100px;
}

.content-container{

box-sizing: border-box;
display: flex;
direction: ltr;
flex-direction: row;
height: 100%;
justify-content: left;
padding: 200px ; 
position: absolute;
top: 0;
width: 100%;
object-fit: cover;
z-index: 3;
}

.content-words{
  align-items: left;
  -webkit-font-smoothing: antialiased;
font-feature-settings: "tnum" on,"lnum" on;
color: #131722;
font-family: -apple-system,BlinkMacSystemFont,Trebuchet MS,Roboto,Ubuntu,sans-serif;

margin:0px;
}

h1.title{
  display: block;
  margin-block-start: 0.67em;
margin-block-end: 1.67em;
margin-inline-start: 0px;
margin-inline-end: 0px;
font-weight: bold;
color: rgba(255, 255, 237, 0.972);

}

.motto{
  font-size: 85px;
 
  
/**/
}
.motto2{
  font-size: 85px;
  
}

.description{
  font-size: 22px;
}

.pricing{
  display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
    margin: 0;
    max-width: 40%;
}
.table{
  width: 100%;
  border-collapse: collapse;
  border: 1px solid black;
  padding: 10px;
}

th, tr {
  border: 1px solid black;
  padding: 10px;
}
